* {
  margin: 0;
  padding: 10px;
}

.card {
  bottom: 0;

  animation-name: rotateAnimation;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  height: 300px;
  overflow-y: scroll;
  position: relative;
}


.card:hover {
  transition: 0.5s;
  /* transform: translate(10px, -10px); */
  transform: scale(1.1, 1.1);
}
